html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  margin: 0;
  background-color: darkgoldenrod;
}

canvas {
  background-color: black;
  display: block;
}

.canvas_container {
  position: relative;
}

.d-none {
  display: none;
}

.button {
  width: 200px;
  height: 30px;
  background-color: rgb(255, 220, 3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  padding: 10px;
  width: 150px;
  margin: 0;
}

.button,
p {
  font-weight: bold;
  padding-left: 10px;
}

.btn-2 {
  background-color: grey;
  width: 80px;
}

.fullscreen_btn {
  position: absolute;
  background: transparent;
  border: none;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.fullscreen_btn img {
  width: 30px;
}

.btn-descripton-box {
}

.button-descrition-row {
  display: flex;
  width: 250px;
}

.panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.start_btn {
  z-index: 30;
  top: 520px;
  width: 200px;
  height: 30px;
  background-color: rgb(255, 220, 3);
}

.console {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

@media only screen and (max-width: 720px) {
  canvas,
  .start-screen,
  .canvas_container {
    width: 100%;
  }

  .btn-descripton-box {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  canvas,
  .start-screen,
  .canvas_container {
    height: 100vh;
  }

  .btn-descripton-box {
    display: none;
  }
  .start_btn {
    top: 300px;
  }
}
