html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  margin: 0;
}

canvas {
  background-color: black;
  display: block;
}

.d-none {
  display: none;
}

.button {
  width: 200px;
  height: 30px;
  background-color: rgb(255, 220, 3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  padding: 10px;
  width: 150px;
  margin: 0;
}

.button,
p {
  font-weight: bold;
  padding-left: 10px;
}

.btn-2 {
  background-color: grey;
  width: 80px;
}

.fullscreen_btn {
  position: absolute;
  top: 513px;
  background: transparent;
  border: none;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.fullscreen_btn img {
  width: 30px;
}

.btn-descripton-box {
  position: absolute;
  top: 600px;
  width: 200px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 100px;
}

@media only screen and (max-width: 720px) {
  canvas,
  .start-screen,
  .canvas_container {
    width: 100%;
  }
  .button {
    display: none;
  }
  .button-descrition {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  canvas,
  .start-screen,
  .canvas_container {
    height: 100vh;
  }
}
