body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}

canvas {
  background-color: black;
}

.d-none {
  display: none;
}

.button {
  width: 200px;
  height: 30px;
  background-color: rgb(255, 220, 3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  padding: 10px;
  width: 150px;
  margin: 0;
}

.button,
p {
  z-index: 1;
  position: absolute;
  top: 520px;
  font-weight: bold;
}

.up_btn {
  top: 640px;
  background-color: grey;
  width: 60px;
  left: 150px;
}

.up-text {
  top: 640px;
  left: 0px;
}

.right_btn {
  top: 680px;
  left: 150px;
  background-color: grey;
  width: 60px;
}

.right-text {
  top: 680px;
  left: 0px;
}

.left_btn {
  top: 720px;
  left: 150px;
  background-color: grey;
  width: 60px;
}

.left-text {
  top: 720px;
  left: 0px;
}

.jump_btn {
  top: 760px;
  left: 150px;
  background-color: grey;
  width: 60px;
}

.jump-text {
  top: 760px;
  left: 0px;
}

.throw_btn {
  top: 800px;
  left: 150px;
  background-color: grey;
  width: 60px;
}

.throw-text {
  top: 800px;
  left: 0px;
}

.fullscreen_btn {
  position: absolute;
  top: 513px;
  background: transparent;
  border: none;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.fullscreen_btn img {
  width: 30px;
}

@media only screen and (max-width: 720px) {
  canvas,
  .canvas_container {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas,
  .canvas_container {
    width: 100vh;
  }
}

@media only screen and (max-height: 480px) {
  canvas,
  .canvas_container {
  }
}
